@charset "UTF-8";
/*Page d'accueil*/
/*Général*/
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h5, a, span {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h4 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/*Variables*/
/*Mixin*/
/*Keyframes*/
@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes check-slide-1 {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 20%;
  }
}
@keyframes check-slide-2 {
  from {
    width: 100%;
  }
  to {
    width: 80%;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: 50%;
  padding: 20px 0 20px 0;
}

#localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: rgb(230, 230, 230);
  box-shadow: inset 0 5px 5px rgb(221, 221, 221);
}
#localisation .fa-location-dot {
  text-align: center;
  padding: 14px 14px 0 0;
}
#localisation p {
  font-weight: bold;
  font-size: 15px;
}

#section_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 243, 243);
}
#section_top h1 {
  width: 70%;
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
  margin: 30px 0 0 0;
}
#section_top p {
  width: 80%;
  text-align: center;
  font-size: 17px;
  margin: 10px 0 30px 0;
}

#btn-explo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 5px 5px rgb(211, 211, 211);
  margin-bottom: 30px;
  transition: all 500ms;
}
#btn-explo:visited {
  background: linear-gradient(#FF79DA, #9356DC);
}
#btn-explo:hover {
  background: linear-gradient(#fc84da, #a166eb);
  box-shadow: 0 7px 7px rgb(180, 178, 178);
  transform: scale(1.05);
}
#btn-explo a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

#fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
#fonctionnement h2 {
  width: 100%;
  font-size: 22px;
  font-weight: bolder;
  margin: 50px 0 40px 30px;
}
#fonctionnement .card_fonctionnement {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(243, 243, 243);
  box-shadow: 0 5px 5px rgb(211, 211, 211);
  border-radius: 15px;
  width: 85%;
  height: 60px;
  margin-bottom: 20px;
  transition: all 0.5s;
}
#fonctionnement .card_fonctionnement span {
  background-color: #9356DC;
  font-size: 13px;
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  position: relative;
  right: 13px;
}
#fonctionnement .card_fonctionnement .fa-solid {
  color: gray;
  margin: 0 20px 0 10px;
  transition: color 0.3s;
}
#fonctionnement .card_fonctionnement p {
  font-weight: bold;
  font-size: 16px;
}
#fonctionnement .card_fonctionnement:hover {
  background-color: #ece1fc;
}
#fonctionnement .card_fonctionnement:hover .fa-solid {
  color: #9356DC;
}

#restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 243, 243);
  padding-bottom: 50px;
}
#restaurants h2 {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 50px;
}

.card_restaurant {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 5px 5px rgb(211, 211, 211);
  margin-bottom: 20px;
  cursor: pointer;
}
.card_restaurant img {
  border-radius: 20px;
  width: 100%;
  height: 190px;
  object-fit: cover;
}
.card_restaurant span {
  position: absolute;
  transform: translate(-110%, 50%);
  background-color: #99E2D0;
  color: #3f7768;
  border-radius: 3px;
  padding: 7px 20px;
  font-weight: bold;
}

.card_restaurant_body {
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.card_restaurant_body .heart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 0;
}

.card-restau-txt {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.card-restau-txt h3 {
  font-size: 16px;
  margin: 10px 0 5px 10px;
  height: 35%;
  width: 100%;
}
.card-restau-txt p {
  margin: 0 0 0 10px;
  height: 35%;
  width: 100%;
}

footer {
  background-color: rgb(65, 65, 65);
  padding-bottom: 20px;
}
footer img {
  filter: invert(1);
  width: 100px;
  margin: 30px 0 20px 0;
}
footer li {
  list-style-type: none;
  color: white;
  padding-bottom: 10px;
}
footer li a {
  color: white;
}
footer ul {
  margin: 0 0 0 30px;
}
footer .fa-solid {
  margin-right: 15px;
  width: 14px;
}

/*Pages restaurants*/
#head_restau {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#head_restau a {
  margin-left: 20px;
}
#head_restau img {
  position: relative;
  right: 20px;
}

#img-restau img {
  object-fit: cover;
  width: 100%;
  height: 290px;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 243, 243);
}

#menu-titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(243, 243, 243);
  position: relative;
  bottom: 45px;
  border-radius: 30px 30px 0 0;
}
#menu-titre h4 {
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 0;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10%;
  padding: 30px 40px 0 0;
}
.heart .fa-regular {
  position: absolute;
}
.heart .fa-solid {
  font-family: "Font awesome 6 Free";
  font-weight: 600;
  opacity: 0;
  color: #9356DC;
}
.heart .fa-solid:hover {
  animation: heart 700ms ease-in-out forwards;
}

.menu-parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 243, 243);
  width: 100%;
  margin-bottom: 40px;
}
.menu-parts h3 {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
.menu-parts .underline {
  align-self: flex-start;
  height: 3px;
  width: 45px;
  border-bottom: 3px solid #99E2D0;
  margin: 5px 0 20px 20px;
}

.card-menu {
  width: 90%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px rgb(211, 211, 211);
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.card-menu .card-menu-info {
  padding-left: 10px;
  width: 80%;
  height: 100%;
}
.card-menu h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin: 10px 0 10px 0;
  font-size: 15px;
}
.card-menu p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-size: 15px;
  margin: 0 0 14px 0;
}
.card-menu .card-menu-price {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: flex-end;
  text-align: end;
  font-weight: bold;
  padding-right: 10px;
}
.card-menu .check {
  background-color: #99E2D0;
  color: white;
  height: 100%;
  width: 0%;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-menu .anim-menu {
  display: flex;
  width: 100%;
}
.card-menu:hover .check {
  animation: check-slide-1 700ms ease-in-out forwards;
}
.card-menu:hover .anim-menu {
  animation: check-slide-2 700ms ease-in-out forwards;
}
.card-menu .fa-solid {
  transform: rotate(0deg);
  transition: 700ms transform ease-out;
}
.card-menu:hover .fa-solid {
  transform: rotate(360deg);
}

.fade-in-1 {
  animation: slide-up 700ms linear backwards;
}

.fade-in-2 {
  animation: slide-up 700ms linear 300ms backwards;
}

.fade-in-3 {
  animation: slide-up 700ms linear 600ms backwards;
}

.fade-in-4 {
  animation: slide-up 700ms linear 900ms backwards;
}

#menu-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: rgb(243, 243, 243);
}

#btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 5px 5px rgb(211, 211, 211);
  margin-bottom: 30px;
  transition: all 500ms;
  margin: 50px 0 70px 0;
}
#btn:visited {
  background: linear-gradient(#FF79DA, #9356DC);
}
#btn:hover {
  background: linear-gradient(#fc84da, #a166eb);
  box-shadow: 0 7px 7px rgb(180, 178, 178);
  transform: scale(1.05);
}
#btn a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

/*# sourceMappingURL=style.css.map */
